*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../img/google.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

nav{
    width: 1300px;
    height: 70px;
   
    text-align: center;
    background-color: #eeeeee;
    margin: 160px auto;
}

form{
    width: 410px;
    height: 80px;
    display: inline-block;
  

    
}
input[name='q']{
    width: 400px;
}
form input{
    padding: 2px;
}
