*{
    padding: 0px;
    margin: 0px;
}

/*navbar is started*/
div#links{
  
    width:1530px;
    height:100px;
    margin-top: 6px;
    font-family:sans-serif;
    font-size: small;   
}

ul{
    list-style-type: none;
}

li{
    float: right;
}

li a{
    display: block;
    text-align: right;
    justify-content: space-between;
    padding: 14px 16px;
    text-decoration: none;
    color: #372b2d 
}

li a:hover{
    text-decoration:underline;
    color: black;
}
/*navbar is ended*/

